body {
    background-image: url(spooky-forest.avif);
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}
header {
    background-color: rgb(179, 3, 3);
    padding: 5px;
}
#main-header {
   font-family: 'Creepster', cursive;
}
header h2 {
    font-family: 'Xanh Mono', monospace;
    padding-left: 1rem;
}
#start-button {
    width: 20rem;
    visibility: visible;
    margin: 3rem;
    margin-left: 5rem;   
    background-color: rgb(179, 3, 3);
}
button {
    width: 40rem;
    height: 4rem;
    color: whitesmoke;
    background-color:rgb(90, 88, 88);
    font-family: 'Permanent Marker', cursive;
}
#quiz-board {
    display: block;
    height: 300px;
    width: 900px;
    visibility: hidden;
}
#question-text {
    padding: 2rem;
}
ul {
    list-style: none;
}
li {
    padding: 5px;
}
#play_again {
    background-color: rgb(179, 3, 3);
    visibility: hidden;
}
#results {
    visibility: hidden;
}