body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    background-color: rgb(37, 34, 34);
    color: whitesmoke; 
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), 
    -0.025em -.05em 0 rgba(0, 255, 0, 0.75), 
    0.025em .05em 0 rgba(0, 0, 225, 0.75);
}

header {
    text-align: center;
}

h1 {
    font-family: Creepster;
    color: whitesmoke;
    width: 100%;
    font-size: 100px;
    animation-name: colorSwap;
    animation-delay: 2s;
    animation-duration:4s;
    animation-fill-mode: forwards;
}

@keyframes colorSwap {
    0% {color: whitesmoke}
    100% {color: rgb(183, 13, 13)}
}

h2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 4s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#start-button, #play_again {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(37, 34, 34);
    border: hsl(0, 68%, 95%) 0.125em solid;
    border-radius: 0.25em;
    color: hsl(0, 68%, 95%);
    padding: 1em 2em;
    text-shadow: 0 0 0.125em;
    box-shadow: inset 0 0 1em, 0 0 1em;

    opacity: 0;
    animation-name: btnappear;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes btnappear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#start-button:hover,
#play_again:hover {
    box-shadow: inset 0 0 2em, 0 0 2em;
    transition: .5s;
}

#quiz-board {
    display: none;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#question-text {
    font-size: 24px;
}

ul {
    padding: 0 10px;
}

ul li {
    list-style: none;
    margin-bottom: 15px;
}

ul li button {
    height: 70px;
    width: 400px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border-radius: 5px;
}

#answer {
    text-align: center;
    margin: 10px;
}

#results-board {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 40px;
    height: 50%;
    width: 50%;
}

